.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  background-color: rgba(1, 42, 1,0.95);
  color: #fff;
}

.footer .section {
  flex: 1 1 50%;
  margin: 20px 20px 80px;
  max-width: 300px;
  padding: 30px;
}

.footer h2 {
  font-size: 25px;
  margin: 10px 0 30px;
  color: #01D401;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.footer li:hover {
  color: #01D401;
  border-bottom-color: #01D401;
  border-bottom-width:3px;
  cursor: pointer;
  scale: 1.11;
}

.footer .socialIcons {
  display: flex;
  margin: 10px 0;
}

.footer .socialIcons div {
  padding: 0 20px 0 0;
  font-size: 30px;
}

.footer .socialIcons div:hover {
  color: #01D401;
  cursor: pointer;
  scale: 1.11;
  transition: 0.3s;
}

.footer .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer .logo img {
  max-width: 100%;
  margin-top: 50px;
}
